.form-container .col-6{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.auth-container{
  padding-top: 10rem;
  display:flex;
  justify-content: center;
}

.auth-form{
  align-self: center;
}

.display-data-container{
  margin: auto;
  width: 40%;
  padding: 10px;
}

.display-data{
  display: flex;
  margin:auto;
  justify-content: center;
}